body{
    /* width: 203px;
    height: 381px; */
    background-color: #FB6B6B;
} 

.root{
    
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 100%;
    /* justify-content: center;
    align-items: center; */
    
}

.root .inicio{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio img{
    margin-top: 90px;
    /* width: 55px; */
    width: 24.6%;
    /* height: 65px; */
}

.inicio h1{

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

.inicio button{
    width: 40%;
    height: 35px;
    color: #D70900;
    font-family: 'Recursive';font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 73px;
}

.tela02 {
    display: flex;
    flex-direction:column;
    align-items:center;
}
.cards{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top:86px;
    margin-bottom: 100px;
}

.tela02 figure{
    display: flex;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 40.98px;
}

.tela02 figure h1{

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    margin-left: 5px;
    color: #FFFFFF;

    transform: rotate(0.58deg);
}

.tela02  p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}
.pergunta{
    width: 90%;
    height: 60px;
    display: flex;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
}

.pergunta .conteudo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px;
}

.perguntaCard{
    width: 90%;
    height: 120px;
    display: flex;
    background: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
}


.perguntaCard p {
    margin-top: 26px;
    margin-left: 6px;

}

.respostaCard{
    width: 90%;
    /* height: 120px; */
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
}

.respostaCard p {
    margin-top: 26px;
    margin-left: 15px;
    margin-bottom: 25px;

}

.respostaCard .opcoes{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}

.respostaCard button{
    
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    text-align: center;
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.buttonNaoLembrei{  background: #FF3030; }
.buttonQuaseLembrei{  background: #FF922E;}
.buttonZap{  background: #2FBE34; }

.tela02 footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: fixed;
    left:0px;
    bottom:0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.tela02 .footerResultado{
    height:200px;
}

.tela02 footer h1{

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 14px;
    color: #333333;
    margin-bottom: 6px;
}

footer h2{
    font-size: 23px;
    margin-top: 6px;
}

.verde { 
    text-decoration:line-through;
    color: #2FBE34;
}

.amarelo { 
    text-decoration:line-through;
    color: #FF922E;
}

.vermelho { 
    text-decoration:line-through;
    color: #FF3030;
}





