body{
    background-color: #FB6B6B;
} 

.root{
    
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 100%;
    /* justify-content: center;
    align-items: center; */
    
}

.root .inicio{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio img{
    width: 136px;
    height: 161px;
    margin-bottom: 26px;
}

.inicio h1{

    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}

.inicio button{
    width: 246px;
    height: 54px;
    /* width: 40%;
    height: 35px; */
    color: #D70900;
    font-family: 'Recursive';font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 30px;
}








